* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* nav-styles */

nav {
  background: #0d6efd;
  box-shadow: 0px 5px 5px #969696a9;
  height: 70px;
}

.form {
  margin-left: 300px;
  margin-top: -30px;
}

.img {
  margin-left: 50px;
  padding-top: 20px;
}

.popo-ver {
  float: right;
  margin-right: 100px;
  margin-top: -35px;
}

.popo-ver button {
  background: none;
  border: none;
}

.popo-ver img {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background: none;
}

/* left page */

.header-ofcan {
  background-image: url(./nature_9197-52.avif);
  background-repeat: no-repeat;
  background-position: center;
  width: 270px;
  height: 150px;
}

.header-ofcan img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin-top: 27px;
  margin-left: 20px;
}

.text-ofcan h6 {
  padding-top: 10px;
  padding-left: 20px;
}

.text-ofcan {
  background: #0000008e;
  width: 270px;
  color: #fff;
  margin-top: 30px;
  height: 40px;
}

.ofcan ul {
  float: left;
}

.ofcan ul li {
  display: block;
}

.sidebar {
  width: 240px;
  height: 100vh;
  padding: 20px;
  color: #555;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.sidebar li:hover {
  background-color: #e1f7f8;
  color: #28c3d7;
  width: 230px;
  border-radius: 10px;
}

.sidebar svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: white;
}

.sidebar span {
  font-size: 16px;
}

.MuiBox-root img {
  margin-top: 20px;
  margin-left: 30px;
}

.MuiBox-root {
  margin-top: -400px;
  background: #e1f7f8;
  width: 222px;
  height: 350px;
  border-radius: 10px;
  margin-left: 20px;
}

.Download {
  background: #1e88e5;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: #fff;
}

.chek {
  background: #21c1d6;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: #fff;
}